.container {
  display: flex;
  flex-direction: column;
  background-color: #191919;
  padding: 10rem;
}

.featureContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading {
  color: #ffffff;
  font-size: 4rem;
}

.subheading {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 6rem;
}

.feature {
  color: #fff;
  font-size: 2.2rem;
}

.itemType {
  font-size: 2rem;
  font-weight: bold;
}

.horizontalLine {
  width: 5rem;
  padding-top: 1rem;
}

.itemPayment {
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 1rem;
}

.itemPrice {
  font-size: 4.5rem;
  font-weight: bold;
  padding: 1rem 0;
}

.button {
  border: none;
  color: #fff;
  width: 15rem;
  height: 4rem;
  font-size: 1.2rem;
  border-radius: 7.5rem;
  margin: 2rem 0;
  text-decoration: 'none';
  cursor: pointer;
}
