.cursor {
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  /* mix-blend-mode: difference; */
  /* cursor: none; */
}

.cursor:before {
  content: 'CLICK';
  color: #fff;
  text-align: center;
}
