.btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 100rem;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  background-color: #fff;
  border: 0;
  outline: 0;
  background: linear-gradient(to right, #1fe1e9, #5e33d1, #d34848, #ffb33f);
  background-size: 175% 100%;
  color: #fff;
  text-align: center;
  animation: gradient 3s ease infinite;
  width: 10rem;
  cursor: pointer;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn-disabled {
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 100rem;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  background-color: #fff;
  border: 0;
  outline: 0;
  background-color: lightgrey;
  color: #fff;
  text-align: center;
  width: 10rem;
}
