.Menu {
  display: flex;
  position: fixed;
  font-size: 2.5rem;
  top: 5rem;
  left: 5rem;
  z-index: 100;
}

.Logo {
  padding-left: 1rem;
  color: #fff;
}

.Circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: fixed;
  z-index: 90;
  left: 4.05rem;
  top: 4.2rem;
  background: linear-gradient(to right, #1fe1e9, #5e33d1, #d34848, #ffb33f);
  animation-name: shrink;
  animation-duration: 0.5s;
}

.CircleBig {
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  position: fixed;
  z-index: 90;
  left: -15rem;
  top: -10rem;
  background: linear-gradient(to right, #1fe1e9, #5e33d1, #d34848, #ffb33f);
  animation-name: grow;
  animation-duration: 0.5s;
}

@keyframes grow {
  from {
    width: 4rem;
    height: 4rem;
    left: 4.05rem;
    top: 4.2rem;
  }
  to {
    width: 45rem;
    height: 45rem;
  }
}

@keyframes shrink {
  from {
    width: 45rem;
    height: 45rem;
    left: -15rem;
    top: -10rem;
  }
  to {
    width: 4rem;
    height: 4rem;
  }
}

.Text {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  font-weight: bold;
  z-index: 95;
  position: fixed;
  top: 10rem;
  left: 5rem;
}

.TextHome {
  position: relative;
  animation: float 0.3s linear 0s;
}

.TextPricing {
  position: relative;
  animation: float 0.3s linear 0.2s;
  animation-fill-mode: backwards;
}

.TextPayment {
  position: relative;
  animation: float 0.3s linear 0.4s;
  animation-fill-mode: backwards;
}

@keyframes float {
  from {
    top: 5rem;
    opacity: 0;
  }
  to {
    top: 0rem;
    opacity: 0.5;
  }
}

.Backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
}
