.planSubheading {
  font-size: 2rem;
}

.planRadioContainer {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.planRadioBasic {
  color: #d24848;
  padding-right: 3rem;
}

.planRadioAdvanced {
  color: #ffb33f;
  padding-right: 3rem;
}

.planRadioPro {
  color: #1fe1e9;
  padding-right: 3rem;
}
