.subheading {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.radioContainer {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 5rem;
}

.radioBasic {
  color: #d24848;
  padding-right: 3rem;
}

.radioAdvanced {
  color: #ffb33f;
  padding-right: 3rem;
}

.radioPro {
  color: #1fe1e9;
  padding-right: 3rem;
}
