.subheading {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.radioContainer {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 5rem;
}

/*  */

.radio {
  font-size: 2rem;
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5rem;
}

.radioInput input {
  display: flex;
  opacity: 0;
  width: 0;
  height: 0;
}

.radioInput input:checked + .radioControl {
  border: 0.2rem solid currentColor;
  background: currentColor;
}

.radioControl {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.2rem solid black;
  transform: translateY(-0.2rem);
}

.radioLabel {
  line-height: 1;
  padding-right: 3rem;
}
